{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} {{ university.uni_name}} {% endblock %}</h1>
    <div class="content">
        <div class="university">
            <p>University Type: {{ university.uni_type }}</p>
            <p>Welcome Message: {{ university.uni_welcome }}</p>
            <p>Yearly Cost: ${{ university.uni_cost }}</p>
        </div>
        <div class="degrees">
            {% for track, degrees in degrees_by_track.items() %}
            <h2>{{ track }}</h2>


                {% for degree in degrees %}
                    <p><b>{{ degree.degree_name }}</b></p>
                    <p>Description: {{ degree.degree_desc }} </p>
                    <p>Curriculum Difficulty: {{ degree.curriculum_difficulty }} </p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}