{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} {{ university.uni_name}} {% endblock %}</h1>
    <div class="content">
        <div class="university">
            <p>University Type: {{ university.uni_type }}</p>
            <p>Welcome Message: {{ university.uni_welcome }}</p>
            <p>Semester Cost: ${{ university.uni_cost }}</p>
        </div>
        <div class="degrees">
            {% if degree_track %}
            <h2>Degree Track: {{ degree_track }}</h2>
            {% endif %}

            {% for degree in degrees %}
                <p><b>{{ degree.degree_name }}</b></p>
                <p>Description: {{ degree.degree_desc }} </p>
                <p>Curriculum Difficulty: {{ degree.curriculum_difficulty }} </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}