{% extends 'base.html' %}

{% block content %}
    {% for university in universities %}
        <h1 class="is-size-3 has-text-centered title">{{ university.uni_name }}</h1>
        <h1 class="is-size-4 has-text-centered title">{{ university.uni_welcome }}</h1>
    {% endfor %}
    <div class="field">
        <div class="control">
            <div class="columns is-multiline">
                {% for track, degrees in degrees_by_track.items() %}
                <div class="column is-full">
                    <h2 class="title is-4">{{ track }}</h2>
                </div>
                    {% for degree in degrees %}
                        <div class="column is-one-third  mg-small">
                            <div class="box has-text-centered">
                                <p class=""><b>{{ degree.degree_name }}</b></p>
                                <p class="has-text-left">Description: {{ degree.degree_desc }} </p>
                                <p>Curriculum Difficulty: {{ degree.curriculum_difficulty }} </p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="column is-full">
                        <hr class="my-5">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

    <p>{{ track_query }}</p>
    {% if 'student' in session %}
        <p>{{ logout_option }}</p>
    {% endif %}
    <!-- <form method="POST" id="action-form" onsubmit="setActionURL()"> -->
    <form method="POST" id="action-form" onsubmit="setActionUrl()">
        <div class="field">
            <div class="control">
                <p class="is-size-4">Degree Discovery</p>
                <p class="is-size-5">Which degree would you like to learn more information about? Type your degree selection below.</p>
                <input class="input is-size-5" type="text" id="degree-input" name="degree" placeholder="Degree selection" required>
            </div>
        </div>
        <!-- <div class="column is-full">
            <hr class="my-5">
        </div>
        <div class="field">
            <div class="control">
                <p class="is-size-4">Webpage Navigation</p>
                <p class="is-size-5">To return back to other university options 'home':</p>
                <input class="input is-size-5" type="text" name="nav-command" placeholder="Enter command here" required>
            </div>
        </div> -->
    </form>
    

    <script>
        function setActionUrl() {
            // const commandInput = document.getElementById('command-input').value;
            const degreeInput = document.getElementById('degree-input').value;
            const form = document.getElementById('action-form');
            
            // Update the form action to include the command in the URL
            form.action = "{{ url_for('students.degree_opts', degree='') }}" + degreeInput;
        }

        // listen to keyUp events on form
        document.getElementById('action-form').addEventListener('keyup', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                setActionUrl();
                this.submit();
            }
        });
    </script>
{% endblock %}