{% extends 'main/main-template.html' %}

{% block content %}
    <h2>{{ main_title }}</h2>
    <h3>{{ sub_title }}</h3>
    <p>{{ call_to_action }}</p>
    {% with messages = get_flashed_message() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>
            </div>
        {% endif %}
    {% endwith% }

    <form action="/create" method="POST" id="action-form">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required autofocus>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <p>{{ action_step }}</p>
        <input type="text" name="command" placeholder="Enter command here" required>
    </form>
    <script>
        document.getElementById('action-form').addEventListener('keyup', function(event) {
            if (event.key == 'Enter') {
                event.preventDefault();
                this.submit();
            }
        })
    </script>
{% endblock %}