{% extends 'main/main-template.html' %}

{% block content %}
<div class="column is-4 is-offset-4"></div>
    <h3 class="is-size-2 has-text-centered title">{{ page_title }}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>
                </div>
            {% endif %}
        {% endwith %}
        <!-- <h2>{{ main_title }}</h2> -->
        <!-- <h3>{{ sub_title }}</h3> -->
        <p class="is-size-5 has-text-centered">{{ call_to_action}}</p>
        <form method="POST" action="/signup" id="action-form">
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="firstname" placeholder="First Name">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="lastname" placeholder="Last Name">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <p>{{ action_step }}</p>
                    <input class="input is-info is-fullwidth" type="text" name="command" placeholder="Enter command here" required>
                </div>

            </div>
            <!-- <button class="button is-block is-info is-medium is-fullwidth">Login</button> -->
        </form>
    </div>
    <script>
        document.getElementById('action-form').addEventListener('keyup', function(event) {
            if (event.key == 'Enter') {
                event.preventDefault();
                this.submit();
            }
        })
    </script>
{% endblock %}